

body {
    background: burlywood;
    direction: rtl;

}
div {
    background: wheat;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin-top: 200px;
    margin-right: 300px;
    border: 2px solid black;
}
